.footer {
    height: 146px;
    border-top: 1px solid rgb(220, 175, 175);
    opacity: 70%;
    background-color: rgb(239, 193, 170);
}

.logo_footer{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items:center;
    margin-left: 750px;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    
}